<p id="notice"><%= notice %></p>

<h1><%= @books.length %> books</h1>

<%= form_tag(books_path, :method => "get", id: "search-form") do %>
  <%= text_field_tag :search, params[:search], placeholder: "Search Posts" %>
  <%= submit_tag "Search", :class => 'btn btn-primary' %>
<% end %>

<%= form_with(scope: "book") do |f| %>
  <%= f.select :id, @books.map {|b| [b.name, b.id]} %>
  <%= f.submit %>
<% end %>

<%= paginate @books %>

<% @books.each do |book| %>
  <div class="card w-100">
    <div class="card-body">
      <%= link_to book.name, book %>
      <div class="row">
        <div class="col-8">
          <p class="card-text"><%= book.author %></p>
          <p class="card-text"><%= book.publisher %></p>
        </div>
        <div class="col-4">
          <%= link_to 'Edit', edit_book_path(book), :class => 'btn btn-primary' if user_signed_in? && current_user.admin_role? %>
          <%= link_to 'Delete', book, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'btn btn-primary' if user_signed_in? && current_user.admin_role? %>
        </div>
      </div>
    </div>
  </div>
<% end %>

<%= paginate @books %>
