<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <%= link_to "Home", root_path, class: "nav-link" %>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Dropdown
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><%= link_to 'New Book', new_book_path, :class => "dropdown-item" if user_signed_in? %></li>
          </ul>
        </li>
      </ul>
      <% if user_signed_in? %>
      <p class="nav-name"><%= current_user.email %></p>
      ||
      <div class="d-flex">
        <%= link_to 'Log out', destroy_user_session_path, method: :delete, :class => 'btn btn-primary' %>
      </div>
      <% else %>
        <%= link_to 'Log in', new_user_session_path, :class => 'btn btn-primary' %>
        ||
        <%= link_to 'Sign up', new_user_registration_path, :class => 'btn btn-primary' 	 %>
      <% end %>
    </div>
  </div>
  </div>
</nav>
